/************************** BASE-SPACE ***********************/
BASE_SPACE=1rem
/************************** COLORS ***************************/
COLOR_HEADER=#279BCA
COLOR_THEME=#279BCA
COLOR_HTML5=#E34C26
COLOR_WHITE=#ebedee
COLOR_DARK=#222222
COLOR_RED=#e74c3c
COLOR_SKY_BLUE=#5fccff
COLOR_GREEN=#34CC67