@import "__constants/variables.styl"
@import "__constants/mixins.styl"

form
	& input 
		border none
		padding (BASE_SPACE/2)
		radius( (0) )
		width 100%
		height 2.5rem
		border-radius 1rem 0  0 1rem
	button
		padding (BASE_SPACE/2)
		radius( (0) )
		border  none
		cursor pointer
		height 2.5rem
		background-color COLOR_HEADER
		color COLOR_WHITE
		border-radius 0 1rem 1rem 0

/*
button,.button
	padding 0 BASE_SPACE/2
	background-color COLOR_HEADER
	border (BASE_SPACE/4) solid darken(COLOR_HEADER,20%)
	radius( (BASE_SPACE/2) )
	cursor: pointer
	& span
		font-size 2rem
		color COLOR_WHITE
	&.newsletter
		position: absolute
		background-color COLOR_HEADER
		color COLOR_WHITE
		square(2.5rem)
		radius(50%)
		border none
		right BASE_SPACE*1.2
		top (BASE_SPACE/2)
		text-align center
		padding .2rem
*/