.step.presentation,
.step.taller {
  min-height: 40rem;
  border-radius: 2rem 5rem 2rem 5rem;
}
.step.taller {
  background-color: #e74c3c;
}
.step.presentation {
  background-color: #279bca;
}
.step.presentation .tittle {
  background-color: #5fccff;
  padding: 1rem 0;
  margin-top: 2rem;
  border-radius: 0.2rem;
}
.step.presentation .tittle:before,
.step.presentation .tittle:after {
  content: "";
  position: absolute;
}
.step.presentation .tittle:before {
  border-color: #3cc1ff rgba(0,0,0,0) #3cc1ff #3cc1ff;
  border-style: solid;
  border-width: 2rem;
  top: 1rem;
  right: -3rem;
  z-index: -1;
}
.step.presentation .tittle:after {
  border-color: #3cc1ff #3cc1ff #3cc1ff rgba(0,0,0,0);
  border-style: solid;
  border-width: 2rem;
  top: 1rem;
  left: -3rem;
  z-index: -1;
}
.step.presentation .subtittle {
  transform: rotate(15deg);
  margin-top: 2rem;
  font-weight: bold;
}
.step.presentation footer {
  background-color: #222;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 2rem 5rem;
  padding: 1rem;
}
.step.presentation footer:before {
  content: "";
  position: absolute;
  border-color: rgba(0,0,0,0) #34cc67 #34cc67 rgba(0,0,0,0);
  border-style: solid;
  border-width: 8rem;
  margin-top: -15rem;
  top: 0;
  right: 0;
  z-index: -1;
}
.cloud {
  position: absolute;
  width: 300px;
  height: 200px;
}
.cloud.c1 {
  left: 2rem;
  top: 2rem;
  background: url("../../impress.js/images/figures/clouds-1.png") no-repeat top;
}
.cloud.c2 {
  left: 15rem;
  top: 5rem;
  background: url("../../impress.js/images/figures/clouds-2.png") no-repeat top;
}
.cloud.c3 {
  left: 30rem;
  background: url("../../impress.js/images/figures/clouds-3.png") no-repeat top;
}
.html5-icon {
  font-size: 15rem;
  color: #e34c26;
}
.html5-icon:after {
  content: "";
  position: absolute;
  background-color: #ebedee;
  width: 8rem;
  height: 10rem;
  z-index: -1;
  top: 3rem;
  left: 3rem;
}
.marco {
  overflow: hidden;
  position: relative;
  border: 5px solid #222;
  background: #0fb4e7;
/* Old browsers */
  background: -moz-linear-gradient(top, #0fb4e7 0%, #56d4e2 33%, #56d4e2 50%, #45b78d 57%, #68bc47 65%, #7caf41 74%, #7caf41 100%);
/* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0fb4e7), color-stop(33%, #56d4e2), color-stop(50%, #56d4e2), color-stop(57%, #45b78d), color-stop(65%, #68bc47), color-stop(74%, #7caf41), color-stop(100%, #7caf41));
/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0fb4e7 0%, #56d4e2 33%, #56d4e2 50%, #45b78d 57%, #68bc47 65%, #7caf41 74%, #7caf41 100%);
/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0fb4e7 0%, #56d4e2 33%, #56d4e2 50%, #45b78d 57%, #68bc47 65%, #7caf41 74%, #7caf41 100%);
/* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0fb4e7 0%, #56d4e2 33%, #56d4e2 50%, #45b78d 57%, #68bc47 65%, #7caf41 74%, #7caf41 100%);
/* IE10+ */
  background: linear-gradient(to bottom, #0fb4e7 0%, #56d4e2 33%, #56d4e2 50%, #45b78d 57%, #68bc47 65%, #7caf41 74%, #7caf41 100%);
/* W3C */
  min-height: 35rem;
}
.floor {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 111px;
  background: url("../../impress.js/images/figures/floor.png") repeat-x bottom;
}
